<div class="w-full max-w-4xl mx-auto">
    <input type="checkbox" id="app-user-details-modal" class="modal-toggle" [checked]="visible" (change)="close()" />
    <label for="app-user-details-modal" class="modal cursor-pointer">
        <label class="modal-box relative w-full max-w-2xl p-4">
            <h2 class="text-2xl font-bold text-center">User</h2>
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Password:</strong> {{ user.password }}</p>
            <p><strong>Role:</strong> {{ user.role }}</p>
            <div class="modal-action">
                <label for="app-user-details-modal" class="btn btn-accent">Close</label>
            </div>
        </label>
    </label>
</div>